*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background: url(../MAKET/ball.png) 20% top repeat-y;
}

.left{
    width: 20%;
    float: left;
    background-color: green;
}

.right{
    width: 220px;
    float: right;
    background-color: rosybrown;
}

.center{
   /* margin-left: 22%;*/
    margin-right: 220px;
    background-color: fuchsia;
}

.clear{
    clear: both;
}

.ball{
    background: url(../MAKET/ball.png) left top no-repeat, 
    url(../MAKET/ball.png) left bottom no-repeat,
    url(../MAKET/ball.png) 20% top no-repeat,
    url(../MAKET/ball.png) 20% bottom no-repeat,
    url(../MAKET/ball.png) right top no-repeat,
    url(../MAKET/ball.png) right bottom no-repeat,
    url(../MAKET/ball.png) right top no-repeat,
    url(../MAKET/ball.png) right bottom no-repeat,
    url(../MAKET/ball.png) right top repeat-y;
}