body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    border-collapse: collapse;
    width: 100%;
}
.header{
    color: blue;
    height: 100px;
    font-size: 40px;
    background-color: aquamarine;
    
}
.zagolovok{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

 .football{
    float: left;
    width: 350px;
}
.text{
    font-size: 35px;
    font-weight: 200;
    
}
.menu{
    padding-top: 20px;
    text-align: center;
    background-color: bisque;

}
.list{
    margin-bottom: 400px;
    font-size: 30px;
}
.content{
padding-bottom: 400px;
background-image: url(../../img/ball_opasity.png);
background-position: right;
background-repeat: repeat-y;
}
.footer{
    color: blue;
    height: 100px;
    font-size: 40px;
    background-color: aquamarine;
    text-align: center;
}