a:hover {
    color: #CE242B;
    /* Цвет ссылки при наведении */
    text-decoration: underline;
    /* Добавляем подчёркивание */

}

a {
    color: green;
    /* Цвет обычной ссылки */
    text-decoration: none;
    /* Убираем подчёркивание у ссылок */
    }


div.first a:not(:last-child) {

    border-right: 1px solid red;

}

span {
    color: red;
    font-weight: bolder;
    height: 200;

}


.third a::after {
    content:'❙';
    color: red;
    text-decoration:inherit
}
   