body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    /*border-collapse: collapse;*/
    /*width: 100%;*/
    overflow: auto;
}
.header{
    text-align:center;
    padding:20px;
    height:50px; 
    width:900px;
    color:blue;
    font-size: 30px; 
    font-weight: 300; 
    background-color:rgb(172, 192, 201)
    
}
.title_f{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    
}

 .football{
    float: left;
    width: 330px;
}
.text{
    font-size: 25px;
    overflow: auto;

    
}

   

.catalog{

    float:left;
    padding:0;
    margin: 0;
   
    width:330px;
    height: 250px;
    font-weight:bold;
    font-size: 20px; 
    background-color: rgb(255, 224, 112);
}
.content{
padding: auto;
background-image: url(../ball.png);
background-position: right;
background-repeat: repeat-y;
}
.footer{
   text-align:center;
    padding:20px;
    height:50px; 
    width:900px;
    color:blue;
    font-size: 30px;
    font-weight: 300;
    background-color:rgb(172, 192, 201)
}